h1 {
    font: 30px monospace;
    color: tomato;
}

fieldset {
    width: 50%;
    border: 3px solid tomato;
    border-radius: 10px;
}

legend {
    font-size: 20px;
    font-style: bold;
    letter-spacing: 2px;
}
form {
    font-family: monospace;
    font-size: 15px;
    color: tomato;
    letter-spacing: 1px;
}

input {
    color: tomato;
    font-size: 15px;
}

textarea {
    color: tomato;
    font-size: 15px;
}

select {
    color: tomato;
    font-size: 15px;
}

#cancel {
    border-radius: 5px;
    padding: 3px;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    position: relative;
    left: 10px;
}

#save {
    background-color: tomato;
    color: white;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    position: relative;
    left: 600px;
}